<!DOCTYPE html>
<html>
<head>
  <title>Hybridge</title>
  <%= stylesheet_link_tag    "hybridge/application", media: "all" %>
  <%= javascript_include_tag "hybridge/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
